@media print {
  button, .no-print {
    display: none !important;
  }

  .border,
  .border * {
    border: none !important;
  }

  body {
    background: white;
    color: black;
  }
}
