@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}

input, textarea {
  @apply border border-gray-300 rounded p-2 w-full;
}

button {
  @apply px-4 py-2 rounded;
}

/* Print styling */
@media print {
  button, .no-print {
    display: none !important;
  }

  .border,
  .border * {
    border: none !important;
  }

  body {
    background: white;
    color: black;
  }
}
